.bg-box {
  position: absolute;
  top: -10rem;
  z-index: -1;
  background-image: linear-gradient(#964949, #ff8080);
  width: 100%;
  height: 20rem;
}
.navbar {
}
.brand {
  position: absolute;
  float: left;
  margin: 2%;
}
